<h1 class="mt-5">{{ .node.ID }}</h1>
<table class="table">
    <tbody>
    <tr>
        <td>Last check-in</td>
        <td>{{ .node.LastCheckIn.Format  "2006-01-02 15:04:05" }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td><a href="http://{{ .node.Address }}">{{ .node.Address }}</a></td>
    </tr>
    <tr>
        <td>Version</td>
        <td>{{ .node.Version }}
        <td>
    </tr>
    <tr>
        <td>Commit hash</td>
        <td>{{ .node.CommitHash }}
        <td>
    </tr>
    <tr>
        <td>Build time</td>
        <td>{{ .node.Timestamp.Format "2006-01-02 15:04:05" }}
        <td>
    </tr>
    <tr>
        <td>Free space</td>
        <td>{{ .node.FreeDisk | size }}
        <td>
    </tr>
    </tbody>
</table>

<h2>Status</h2>
<table class="table">
    <tbody>
    {{ range $key, $result := .status }}
    <tr class="align-middle">
        <td class="col-sm-2">{{ $result.LastChecked.Format "2006-01-02 15:04:05" }}</td>
        <td class="col-sm-1 align-left align-middle">
            {{ if eq "" $result.Error }}
                <i class="bi-check-circle text-success" style="font-size: 2rem;"></i>
            {{ else }}
                {{ if $result.Warning }}
                    <i class="bi-exclamation-triangle text-warning" style="font-size: 2rem;"></i>
                {{else}}
                    <i class="bi-x-circle-fill text-danger" style="font-size: 2rem;"></i>
                {{end}}
            {{ end }}
        </td>
        <td>
            {{ $key }}
        </td>
        <td>
            {{ $result.Duration | ms }}
        </td>

        <td>{{ $result.Error }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>

{{ if .owned }}
<h2>Stats</h2>
<iframe src="/node/{{.node.ID}}/charts/ud" width="100%" height="600px"></iframe>
{{end}}
<h2>Connected Satellites</h2>
<table class="table">
    <tbody>
    {{ range .satellites }}
    <tr class="align-middle">
        <td>
            {{ .SatelliteID }}
        </td>
        <td>
            {{ .Satellite.Address }}
        </td>
        <td>
            {{ .Satellite.Description }}
        </td>
    </tr>
    {{ end }}
    </tbody>
</table>